:root {
  --card_red: #F3525C;
  --card_yellow: #FCCE44;
  --card_green: #95B23A;
  --card_black: rgb(80, 80, 80);
  --card_blue: #4A6D8C;
  --card_width: 150px;
  --card_height: calc(var(--card_width) * 1.4);
}

.hasColor_red{
    color:var(--card_red);
    border-color:var(--card_red);
}
.hasColor_yellow{
    color:var(--card_yellow);
    border-color:var(--card_yellow);
}
.hasColor_green{
    color:var(--card_green);
    border-color:var(--card_green);
}
.hasColor_black{
    color:var(--card_black);
    border-color:var(--card_black);
}
.hasColor_blue{
    color:var(--card_blue);
    border-color:var(--card_blue);
}

body,html{
    margin:0;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

.cardFront {
    display:grid;
    grid-template-rows: 50px 1fr;
    background-color:rgb(255, 255, 255); 
    width: var(--card_width); height: var(--card_height); 
    border-radius:10px; 
    border:solid 3px;
    box-shadow: 1px 1px 3px 2px rgba(36, 11, 11, 0.2);
    text-transform: uppercase;
    font-weight: 600;
}


.cardFront .header{
    margin-left:15px;
    margin-top:10px;
}
.cardFront  .cardPoints{
    color:var(--card_black);
    font-size:0.6rem;
    text-transform: lowercase;
}
.cardFront .header .smallNumber{
    display:inline-block;
    vertical-align: top;
    margin:0px;
    margin-right:3px;
    font-size:2rem;
}
.cardFront .header .spelledNumber{
    display:inline-block;
    margin:0px;
    font-size: 0.8rem;
    vertical-align: top;
    margin-top:.3rem;
}

.cardFront .body{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:60px;
    font-weight:900;
    margin-bottom:20px;
}
.cardFront .body .largeNumber{
    margin:0;
}

.playerHand{
    position: relative;
    bottom:8%;
}

.playerHand .cardContainer{
    position:relative;
    float:left;
    margin-left:calc(var(--card_width)*-0.65);
    transition: all 0.15s;
    width:var(--card_width);
    padding-bottom:48px;
    
}
.playerHand .cardContainer:hover{
    transform:translate(0px,-45px) rotate(5deg);
}
.playerHand .cardContainer:first-child{
    margin-left:inherit;
}

#gameFooter{
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
#gameBody{
    display:flex;
    justify-content: center;
    align-items: center;
}
.pile {
    position:relative;
}
.pile .cardContainer{
    position: absolute;
    top:calc(var(--card_height)/-2);
    left:calc(var(--card_width)/-2);
    transition: all 0.4s;
}

.pile .cardContainer:first-child{
    left:-120;
}
.pile .cardContainer:last-child{
    animation: 0.4s ease-out 0s 1 slideInFromLeft;
    transform:rotate(0deg) !important;
}

#gameBoard{
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    display:grid;
    grid-template-rows:1fr 200px 1fr;
    background:#f3efe9;

}

#playerList{
    display:flex;
    align-items: center;
    justify-content: center;
}

.playerTag{
    display:relative;
    float: left;
    width: 100%;
    margin:0px;
    transition: all 0.5s;
}

.playerTag.currentPlayer{
    transform:translate(0px,-20px);
}
.playerTag .playerIconSvg{
    width:70px;
}
.playerTag{
    width: 90px;
    text-align: center;
}
.playerTag .playerIconName{
    margin:0px;
    margin-top:7px;
    text-transform: capitalize;
    font-weight: 600;
    color:var(--card_black);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0);
  }
}